.SearchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px; /* Space between input and button */
  border: 1px solid #61dafb; /* Border color */
  border-radius: 5px; /* Rounded corners */
  outline: none; /* Remove outline on focus */
  width: 250px; /* Set a width for the input */
}

input[type="text"]:focus {
  border-color: #4da6d1; /* Darken border on focus */
}

button {
  background-color: #61dafb; /* Button color */
  color: #fff; /* Button text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 15px; /* Padding for button */
  cursor: pointer; /* Pointer on hover */
  transition: background-color 0.3s; /* Smooth background transition */
}

button:hover {
  background-color: #4da6d1; /* Darken button on hover */
}
