.SearchResults {
  margin: 5px 0; 
  background-color: rgba(77, 138, 208, 1); 
  color: rgb(16, 17, 18); 
  padding: 20px;
  border-radius: 10px; 
  opacity: 0.9; 
  width: 100%; 
  max-width: 1000px; 
  }
  


h2 {
  font-size: 2rem; 
  margin-bottom: 15px; 
  color: black;
}

.track {
  background-color: #f4f6f8; 
  color: #000; 
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: transform 0.2s; 
}

.track:hover {
  transform: scale(1.02); 
}

h3 {
  color: black;
}

.track p {
  margin: 5px 0; 
}


